#top-left {
    animation: slide-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: fixed;
    width: 20%;
    top: -20px;
    left: 0;
}

#bottom-right {
    animation: slide-in-br 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: fixed;
    width: 20%;
    bottom: -25px;
    right: 0;
    transform: rotate(180deg);
}

@keyframes slide-in-br {
    0% {
      -webkit-transform: translateY(1000px) translateX(1000px);
              transform: translateY(1000px) translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-tl {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-1000px);
              transform: translateY(-1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
}