/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gugi', cursive;
  }
html {
  background-image: url("./Background.png");
  width: 100%;
}
#root {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
#main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav-bar {
  width: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin-top: 3%;
  width: 10%;
  align-self: center;
  border-radius: 25px;
  font-size: 1.1em;
  border: 3px solid #02ADC8;
  text-align: center;
  color: white;
  padding: 10px;
}

.btn:hover {
  border: 3px solid white;
  color: black;
  cursor: pointer;
  background-color: white;
}

#social-container {
  margin-top: auto;
  margin-bottom: 2%;
}
.social-icon {
  width: 2%;
  margin-left: 2%;
}

.social-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#center {
  display: flex;
  flex-direction: column;
}

#about-me-parapgraphs {
  margin-top: 11%;
  margin-left: 27%;
}

#about-me-parapgraphs p {
  font-size: 1.1em;
  color: white;
  margin-top: 2%;
  width: 55%;
  animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#portrait {
  position: absolute;
  width: 20%;
  right: 20%;
  top: 10%;
  animation: slide-fwd-tr 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#aboutMe {
  position: relative;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slide-fwd-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(-100px) translateY(-100px) translateX(100px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
            transform: translateZ(-160px) translateY(-30px) translateX(10px);
            opacity: 1;
  }
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
}

.card-container {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  box-shadow: 3px 3px 50px 0px rgba(12,130,149,1);
  margin-top: 0;
}

.card-img {
  margin-top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  cursor: pointer;
}
.section-title {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 3%;
  margin-bottom: -5%;
}

.card-description {
  background-color: #444748;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 3px solid #0C8295;
  color: white;
  cursor: pointer;
}

.card-description-text {
  margin: 5%;
}