/* CSS RESET */
* {
    margin: 0;
    padding: 0;
  }

#root {
    margin: 0;
    min-height: 100vh;
    background-image: url("./Group\ 39.svg");
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}